:root {
  --dimensions: 50vw;
  --min-dimensions: 250px;
  --max-dimensions: 600px;
  --max-height: 300px;
  --border-color: #1E212B;
  --border-color-darker: rgb(16, 17, 22); 
  --font-size: 18px;
  --highlight-color: #1E212B;
  --highlight-color: rgba(255,33,52,1);
  --highlight-color: rgba(255,0,102,1);
  --highlight-font: black;
  --secondary-color: #C0FDFB;
  --border: 2px solid black;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-size);
  background: var(--border-color);
  margin: 0;
}

.tooltip {
  color: var(--highlight-color);
}
.copied-banner {
  height: 50px;
  background-color: var(--highlight-color); 
  background: rgba(255,0,102,1);
  background: -moz-linear-gradient(left, rgba(255,0,102,1) 0%, rgba(255,33,52,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,0,102,1)), color-stop(100%, rgba(255,33,52,1)));
  background: -webkit-linear-gradient(left, rgba(255,0,102,1) 0%, rgba(255,33,52,1) 100%);
  background: -o-linear-gradient(left, rgba(255,0,102,1) 0%, rgba(255,33,52,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,0,102,1) 0%, rgba(255,33,52,1) 100%);
  background: linear-gradient(to right, rgba(255,0,102,1) 0%, rgba(255,33,52,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0066', endColorstr='#ff2134', GradientType=1 );


  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  visibility: hidden;
  opacity: 0;
  
}
.copied-banner-anim {
  
  animation-name: show-banner;
  animation-duration: 2s;
}
@keyframes show-banner {
  0% {
    visibility: visible;
  }
  5% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    visibility: visible;
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main p {
  width: 90vw;
}
#calc-container {
  display: inline-grid;
  grid-template-rows: repeat(2, auto) repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1px;
  box-sizing: border-box;
  max-width: 750px;
  color: #d3d3d6;
  /* -webkit-box-shadow: 0px 0px 35px 9px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 35px 9px rgba(0,0,0,1);
  box-shadow: 0px 0px 35px 9px rgba(0,0,0,1); */
  /* -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75); */
  /* -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); */
  /* -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15); */
-webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
}
button {
  background-color: var(--border-color);
  border: none;
  font-size: inherit;
  font-family: inherit;
  transition: 0.2s;
  outline: none;
  color: inherit;
  font-weight: 700;
}
button:hover, .hovered {
  transform: scale(1.05);
  background-color: white;
  color: var(--border-color);
}
button:active {
  background-color: white;
  color: black;
}
button.equals {
  background-color: var(--highlight-color); 
  font-size: 2em;
  color: rgba(0,0,0,0.8);
  background: rgba(255,0,102,1);
  background: -moz-linear-gradient(left, rgba(255,0,102,1) 0%, rgba(255,33,52,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,0,102,1)), color-stop(100%, rgba(255,33,52,1)));
  background: -webkit-linear-gradient(left, rgba(255,0,102,1) 0%, rgba(255,33,52,1) 100%);
  background: -o-linear-gradient(left, rgba(255,0,102,1) 0%, rgba(255,33,52,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,0,102,1) 0%, rgba(255,33,52,1) 100%);
  background: linear-gradient(to right, rgba(255,0,102,1) 0%, rgba(255,33,52,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0066', endColorstr='#ff2134', GradientType=1 );

}
/* .hovered {
  transform: scale(1.05);
  background-color: white;
} */
.utility-wrapper {
  display: flex;
  grid-column: 1 / -1;
}
.utility {
  flex: 1;
}
.delete {
  margin-right: 1px;
}
.equals {
  grid-column: span 2;
}
.display {
  color: rgba(255,255,255,0.8);
  grid-column: 1 / -1;
  grid-row: span 2;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 2em;
  cursor: pointer;
  max-width: 100%;
}
.display p {
  margin: 0;
}
.backlog {
  padding: 0 15px;
  flex: 1;
  min-height: 3em;
  background-color: var(--border-color);
  font-weight: 300;
}
.result {
  padding: 8px 15px;
  flex: 1;
  border-top: 3px solid rgba(255,255,255,0.25);
  background-color: var(--border-color);
  font-weight: 600;
}
.display div {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.display p {
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: right;
  transition: 0.1s;
}

.backlog p {
  font-size: 0.60em;
}
div .hovered-display {
  color: white;
}
footer {
  height: 50px;
  padding: 10px 0;
  background-color: rgba(0,0,0,0.1);
  background-color: #333;
  display: flex;
  align-items: center;
}
a {
  margin-left: 20px;
  text-decoration: none;
  color: #444;
  transition: 0.1s;
}
main a {
  margin: 0;
  font-weight: bold;
}
.tooltip {
  position: absolute; 
  top: 15px;
  left: 15px;
  display: inline;
  font-size: 1.5em;
}
.instructions {
  visibility: hidden;
  top: 100%;
  left: 100%;
  width: 50vw;
  max-width: 400px;
  transform: scale(0);
  transform-origin: top left;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.5em;
  text-align: center;
  z-index: 1;
  background-color: #FFE74C;
  transition: 0.25s;
  opacity: 0;
}
.instructions a {
  margin: 0;
  font-weight: bold;
}
.tooltip:hover .instructions {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
a:hover {
  display: inline-block;
  transform: scale(1.05);
  color: black;
}
a:hover i {
  color: var(--highlight-color);
}
.git-highlight {
  color: var(--highlight-color);
}
@media (max-width: 500px) {
  #calc-container {
    width: 100%; 
  }
  html {
    height: 100%;
  }
  body {
    height: 100%;
    min-height: 100%;
  }
}